	html{
	font-size: 62.5%;
	min-width: inherit;
}

body{
	margin: 0;
	padding: 0;
	font-family: "Open Sans";
	color: #37474F;
	font-size: 1.6rem;
	background: #EDEDED;
}

.page-header{
	position: absolute;
	padding: 1.2em;
	width: 100%;
	min-width: 280px;
	box-sizing: border-box;
	transition: background 1s, box-shadow 0.9s;
}

.navi .hamburger{
	border: 0;
	background: 0;
	position: absolute;
	right: 1em;
	top: 1em;
	fill: #EDEDED;
}

.navi .menu{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	opacity: 0;
	transition: opacity 1s;
	pointer-events: none;
}

.page-header .navi .menu li{
	border-bottom: 0.01em solid #041E2B;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-size: 1em;
}

.page-header .navi .menu li a{
	color: #041E2B;
	text-decoration: none;
	font-family: "Ubuntu";
}

.logo{
	fill: #EDEDED;
	width: 6%;
	height: 6%;
}

.section-title{
	height: 2em;
	padding: 0.3em;
	padding-top: 1.8em;
	margin: auto;
}

.informations,
.section-informations{
	margin: auto;
	padding: 1em;
	box-sizing: border-box;
}

.photos{
	padding-bottom: 0.5em;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	max-width: 100%;
	margin: auto;
}

.article .welcome{
	box-sizing: border-box;
	color: #EDEDED;
	background: url(img/BRAND.jpg) no-repeat;
	min-width: 280px;
	background-size: cover;
	background-position: 50%;
	height: 73vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	box-shadow: 0em 0.1em 1.5em 0em rgba(0,0,0,0.75);
}

.page-header .navi .hamburger .cross-icon{
	display: none;
}

.page-header .navi .hamburger .hamburger-icon{
	width: 2em;
	height: 2em;
}

.photos .picture img{
	padding: 10%;
	margin-left:auto;
    margin-right:auto;
	max-width: 80%;
	min-width: 160px;
	padding-bottom: 0;
	padding-top: 0;
}

.title{
	color: #EDEDED;
	margin: 0;
	font-weight: 100;
	font-size: 1em;
	font-family: "Ubuntu";
}

.footer{
	text-align: center;
	background: #22264B;
	padding: 1.5em;
	min-width: 220px;
	box-shadow: 0em -0.5em 3em 0em rgba(0,0,0,0.75);
}
.footer .footer-navi{
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer .footer-navi li{
	margin-bottom: 0.7em;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
}

.footer .footer-navi li:hover{
	transform: scale(1.2);
}

.footer .footer-navi li a{
	color: #B56969;
	text-decoration: none;
	font-family: "Ubuntu"
}

.footer .logo{
	width: 4em;
	height: 4em;
	fill: #E8EDF3;
}

.page-header.navi-opened{
	background-color: #EDEDED;
	box-shadow: -0.1em 0.9em 1.2em -0.8em rgba(0, 0, 0, 0.49);
}

.page-header.navi-opened .logo{
	fill: #041E2B;
}

.page-header.navi-opened .hamburger .hamburger-icon{
	display: none;
}

.page-header.navi-opened .hamburger .cross-icon{
	display: inline-block;
	fill: #041E2B;
}
.page-header.navi-opened .navi .menu{
	opacity: 1;
	pointer-events: auto;
}
.article .box-section-informations{
	font-size: 1em;
	margin: auto;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	box-sizing: border-box;
}

.article .box-section-informations h3{
	margin: 0;
	margin-top: 1em;
}

.article .box-section-informations .box-size .box-tab{
	padding-top: 0.6em;
	padding-bottom: 0.6em;
}

.article .box-section-informations .box-size .box-tab th{
	text-align: center;
}

.article .box-section-informations .box-size .box-tab td{
	text-align: center;
}

.article .box-section-informations .box-picture{
	margin:none;
}

.article .box-section-informations .box-picture img{
	max-width: 60%;
	padding-left: 20%;
	padding-right: 20%;
}

.article .box-section-informations .box-picture-last{
	margin:none;
}

.article .box-section-informations .box-picture-last img{
	max-width: 60%;
	padding-left: 20%;
	padding-right: 20%;
}

.article .box-section-informations .box-description{
	border-bottom: 0.01em solid #22264B;
}

.article .album-description {
	margin: auto;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	box-sizing: border-box;
	font-size: 1em;
	margin-bottom: 0;
	}

.article .album-description .efects{
	padding-left: 0.5em;
	margin: 0;
}

.article .prices{
	margin: auto;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	box-sizing: border-box;
	font-size: 1em;
	margin-bottom: 1em;
}

.article .price-list{
	margin-left:auto;
    margin-right:auto;
	border: 0.1em solid #22264B;
}

.article .price-list th{
	width: 10%;
	height: 20%;
	padding-right: 0.8em;
	padding-left: 0.8em;
	text-align: center;
	box-sizing: border-box;
	border: 0.09em solid #22264B;
	transition: background-color 0.5s ease;
}

.article .price-list td{
	width: 10%;
	height: 30%;
	text-align: center;
	border: 0.07em solid #22264B;
}

.article .price-list tr{
		transition: background-color 0.5s ease;
}

.article .price-list tr:hover{
	background: #cc7878;
}

.photos .album-picture img{
	float: left;
	padding: 10%;
	margin-left:auto;
    margin-right:auto;
	max-width: 80%;
	min-width: 160px;
	padding-bottom: 1.8em;
	padding-top: 0;
}

.photos .album-picture .stationary{
	display: none;
}

.photos .stationary{
	display: none;
}

.article .contact,
.article .busines{
	font-size: 1em;
	max-width: 80%;
}

.article .contact p,
.article .busines p{
	padding-left: 1.8em;
}

.article .map{
	padding-bottom: 1.5em;
	clear: both;
	width: 100%;
}

.article .movie{
	max-width: 80%;
	padding-bottom: 7%;
	padding-left: 20%;
	padding-right: 20%;
}

.article .movie .yt{
	width: 100%;
}
.article .movie-title{
	text-align: center;
	font-size: 1em;
}

.backToTop {
    padding: 2%;
    border: none;
    border-radius: 0.5em;
    background: #B56969;

    opacity: 1;
    -webkit-transition: visibility 0.2s, opacity 0.2s;
    transition: visibility 0.2s, opacity 0.2s;

    position: fixed;
    bottom: 2%;
    right: 2%;

    cursor: pointer;

    font-size: 0.8em;
    color: #22264B;
}

.backToTop.hidden {
    opacity: 0;
    visibility: hidden;
}

.containerForm {
	text-align: center;
    width: 80%;
    margin: 3em auto;
    overflow: hidden;
}

.containerForm h1 {
    padding-bottom: 3%;
    margin-bottom: 5%;
    border-bottom: 0.05em #D8D8D8 solid;

    line-height: 1;
    font-weight: normal;
    color: #666666;
}

.containerForm ul.errors {
    width: 100%;
    margin-bottom: 2.5em;
    background-color: #E80C0C0F;
}

.containerForm ul.errors li {
	max-width: 100%;
	margin-right: 3.5em;
	font-size: 1.2em;
    list-style: none;
    line-height: 2em;
    color: #666666;
}

.containerForm form {
    width: 100%;
    overflow: hidden;
}

.containerForm form * {
    box-sizing: border-box;
}

.containerForm form input[type="text"],
.containerForm form input[type="email"],
.containerForm select,
.containerForm textarea {
    border: 0.05em #C5C5C5 solid;
    background: #fff;

    font: 1em Tahoma, Arial, sans-serif;
    color: #8A8A8A;
}

.containerForm form input[type="text"].error,
.containerForm form input[type="email"].error,
.containerForm select.error,
.containerForm textarea.error {
    border-color: #FFA9C7;
		background: #E80C0C0F;
}

.serverError {
	border: 0.05em #C5C5C5 solid;
	border-color: #FFA9C7;
	background: #E80C0C0F;
	font: 1em Tahoma, Arial, sans-serif;
	color: #8A8A8A;
}

.containerForm form input[type="text"],
.containerForm form input[type="email"] {
    display: block;
    width: 100%;
    height: 3em;
    padding: 0 1.5em;
    margin: 0 1.5em 1.5em 0;
    float: left;
}

.containerForm form select {
    width: 100%;
    height: 3em;
    padding: 0 1.5em;
    margin: 0 1.5em 1.5em 0;
    border-radius: 0;

    -webkit-appearance: none;
    cursor: pointer;
}

.containerForm form textarea {
    clear: both;
    display: block;
    width: 100%;
    height: 18em;
    padding: 1% 2% 0 2%;
    margin-bottom: 3%;

    resize: none;

    line-height: 2em;
}

.containerForm form button[type='submit'] {
	padding: 0 6%;
	margin-bottom: 3%;
    height: 2.5em;
    float: right;
    border: none;
    background: #22264B;

    cursor: pointer;

    font: 1.2em Tahoma, Arial, sans-serif;
    color: #B56969;
}









@media (min-width: 62em) {

	.page-header.navi-opened {
		background: 0;
		box-shadow: none;
	}

	.page-header{
		margin: auto;
		left: 0;
		right: 0;
	}
	.page-header .navi {
		background: #F24A4A;
		position: absolute;
		height: 73vh;
		width: 30vh;
		top: 0;
		right: 0;
		box-shadow: 0em 0em 5em 0em rgba(242,74,74,1);
	}
	.page-header .navi .hamburger{
		display: none;
	}

	.page-header .navi .menu{
		height: 73vh;
		transition: none;
		opacity: 1;
		pointer-events: auto;
		text-align: center;
}

	.page-header .navi .menu li{
		box-sizing: border-box;
		border-bottom: 0.1em solid #F1D3BB;
        height: 18.25vh;
		padding: 18%;
		opacity: 1;
		pointer-events: auto;
		box-shadow: 0em -0.2em 0.5em -0.2em rgba(0,0,0,1);
		transition: background-color 0.5s ease;
		transition: box-shadow 0.3s ease-in-out;
	}

	.page-header .navi .menu li:hover{
		 box-shadow: 0em 0em 3em 0.6em rgba(175,29,29,1);
		 background-color: #af1d1d;
	}

	.page-header .navi .menu li:last-child{
		border-bottom: none;
	}

	.page-header .navi .menu li a{
		color: #EDEDED;
		font-size: 5vh;
	}

	.title{
		font-size: 180%;
	}

	.article .welcome{
		padding-top: 2em;
		box-shadow: 0em 0.2em 2em 0em rgba(0,0,0,0.75);
	}

	.article .section-title{
		font-size: 3em;
		padding-bottom: 0.5em;
		padding-top: 1em;
		margin: auto;
	}

	.article .contact,
	.article .busines{
		max-width: 50%;
		padding: 0em;
	}

	.article .informations{
		font-size: 3vh;
		margin: auto;
		left: 0;
		right: 0;
	}

	.article .box-section-informations{
	font-size: 4vh;
	margin: auto;
	padding: 1em;
	box-sizing: border-box;
	}

	.article .box-section-informations h3{
		padding-bottom: 0.5em;
	}

	.article .box-section-informations .box-size{
		max-width: 35%;
		float:left;
	}

	.article .box-section-informations .box-size .box-tab{
		padding-top: 1em;
	}

	.article .box-section-informations .box-picture{
		max-width: 60%;
		float:left;
		margin:none;
	}

	.article .box-section-informations .box-picture img{
		max-width: 60%;
		padding:0;
		padding-left: 30%;
		padding-top: 8%;
	}

	.article .box-section-informations .box-picture-last{
		max-width: 60%;
		float:left;
		margin:none;
	}

	.article .box-section-informations .box-picture-last img{
		max-width: 60%;
		padding:0;
		padding-left: 30%;
		padding-top: 15%;
	}

	.article .box-section-informations .box-description,
	.article .box-section-informations .box-description-last{
		clear: both;
		font-size: 1em;
	}

	.article .prices{
	font-size: 3.9vh;
	}

	.article .album-description {
	font-size: 3.9vh;
	}

	.photos .album-picture img{
	padding: 10%;
	margin-left:auto;
    margin-right:auto;
	max-width: 80%;
	padding-top: 0;
}

	.photos .album-picture .stationary{
	display: block;
	}

	.photos .album-picture .mobile{
	display: none;
	}

	.photos .stationary{
	display: block;
	}

	.photos .mobile{
	display: none;
	}

	.article .contact{
		padding-left: 1em;
		font-size: 2em;
		float: left;
	}

	.article .busines{
		float: right;
		padding-right: 1em;
		font-size: 2em;
	}

	.article .contact p,
	.article .busines p{
		padding-left: 1.5em;
		margin-top:  1em;
		margin-bottom:  1em;
	}

	.article .map{
		height: 60vh;
	}

	.footer .footer-navi li{
		font-size: 3.9vh;
	}

	.footer .logo{
		width: 9vh;
		height: 9vh;
	}

	.article .movie .yt{
		height: 75vh;
	}

	.article .movie-title{
		font-size: 4.9vh;
	}

	.backToTop {
		font-size: 2em;
	}

}

@media (min-width: 48em)and (max-width: 62em) {
	.article .box-section-informations{
	font-size: 1em;
	margin: auto;
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0;
	box-sizing: border-box;
	}

	.article .box-section-informations h3{
		margin: 0;
		margin-top: 0.8em;
	}

	.article .box-section-informations .box-size{
		max-width: 35%;
		float:left;
		padding-top: 2em;
	}

	.article .box-section-informations .box-size .box-tab{
		padding-top: 2em;
	}

	.article .box-section-informations .box-picture{
		max-width: 60%;
		float:left;
		margin:none;
	}

	.article .box-section-informations .box-picture img{
		max-width: 60%;
		padding:0;
		padding-left: 40%;
		padding-top: 8%;
	}

	.article .box-section-informations .box-picture-last{
		max-width: 60%;
		float:left;
		margin:none;
	}

	.article .box-section-informations .box-picture-last img{
		max-width: 60%;
		padding:0;
		padding-left: 40%;
		padding-top: 26%;
	}

	.article .box-section-informations .box-description{
		clear: both;
		font-size: 1em;
	}

	.article .box-section-informations .box-description-last{
		clear: both;
		font-size: 1em;
	}

	.article .contact{
		max-width: 50%;
		float: left;
		font-size: 1.4em;
	}
	.article .busines{
		max-width: 50%;
		float: right;
		padding-right: 1em;
		font-size: 1.4em;
	}

	.article .contact p,
	.article .busines p{
		padding-left: 2em;
		margin-top: 0.2em;
		margin-bottom: 0.2em;
	}

	.article .movie .yt{
		height: 66vh;
	}

	.article .movie-title{
		font-size: 4.9vh;
	}
}
